body {
    background-image: url("https://img.freepik.com/premium-photo/male-chef-rolls-out-thin-pizza-dough-table-pizzeria-banner-black-background_275234-2118.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh- 00px);
}

.home-main {
    width: 50%;
    height: 800px;
    display: flex;
    
    align-items: center;
    justify-content: start;
}

.description {
    color: white;
    font-weight: 300;
    text-align: justify;
    font-size: 1.5rem;
    margin-top: 5rem;
    border-radius: 5px;
    padding: 0.5rem;
    width: 20rem;
}