body {
    background-image: url("https://img.freepik.com/premium-photo/male-chef-rolls-out-thin-pizza-dough-table-pizzeria-banner-black-background_275234-2118.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh- 00px);
}

.home-main {
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: start;
    align-items: center;
    justify-content: center;
}

.home-button {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem;
    width: 10rem;
}